# Python Training Example #14 Collection in Python Dictionary - Manipulation Dictionary Add and Change Value

## Create a Dictionary, key must unique

In [6]:
# Create a Dictionary, key must unique
name_dictionary = {'Vincet' : 'Man', 'Adel' : 'Man', 'Kiky' : 'Woman', 'Pandot' : 'Man', 'Depil' : 'Man', 'Mini' : 'Woman', 'Jambrong' : 'Man'} # Create dictionary with {}
name_dictionary

{'Vincet': 'Man',
 'Adel': 'Man',
 'Kiky': 'Woman',
 'Pandot': 'Man',
 'Depil': 'Man',
 'Mini': 'Woman',
 'Jambrong': 'Man'}

In [7]:
# Slicing dictionary
name_dictionary['Vincet'] #slicing dictionary key Vincent

'Man'

## Change Value

In [11]:
name_dictionary['Vincet'] = 'Woman' #change value Man to Woman from key Vincent
name_dictionary['Vincet'] #slicing dictionary key Vincent

'Woman'

## Add Key and Value

In [14]:
name_dictionary['Lucia'] = 'Woman' #add new key and value
name_dictionary

{'Vincet': 'Woman',
 'Adel': 'Man',
 'Kiky': 'Woman',
 'Pandot': 'Man',
 'Depil': 'Man',
 'Mini': 'Woman',
 'Jambrong': 'Man',
 'Lucia': 'Woman'}

## Create a Nested Dictionary, key must unique

In [23]:
# Create a nested Dictionary, key must unique
name_nested_dictionary = {
    'Student1' : {'Name' : 'Vincet',
                  'Gender' : 'Man',
                  'BOD' : 1991
                 },
    'Student2' : {'Name' : 'Adel',
                  'Gender' : 'Man',
                  'BOD' : 1992
                 },
    'Student3' : {'Name' : 'Kiky',
                  'Gender' : 'Woman', 
                  'BOD' : 1995
                 },
    'Student4' : {'Name' : 'Pandot',
                  'Gender' : 'Man',
                  'BOD' : 1994
                 },
    'Student5' : {'Name' : 'Depil',
                  'Gender' : 'Man',
                  'BOD' : 1996
                 },
    'Student6' : {'Name' : 'Mini',
                  'Gender' : 'Woman',
                  'BOD' : 1994
                 }, 
    'Student7' : {'Name' : 'Jambrong',
                  'Gender' : 'Man',
                 'BOD' : 1992
                 }
} # Create nested dictionary with {}
name_nested_dictionary

{'Student1': {'Name': 'Vincet', 'Gender': 'Man', 'BOD': 1991},
 'Student2': {'Name': 'Adel', 'Gender': 'Man', 'BOD': 1992},
 'Student3': {'Name': 'Kiky', 'Gender': 'Woman', 'BOD': 1995},
 'Student4': {'Name': 'Pandot', 'Gender': 'Man', 'BOD': 1994},
 'Student5': {'Name': 'Depil', 'Gender': 'Man', 'BOD': 1996},
 'Student6': {'Name': 'Mini', 'Gender': 'Woman', 'BOD': 1994},
 'Student7': {'Name': 'Jambrong', 'Gender': 'Man', 'BOD': 1992}}

In [17]:
# Slicing nested dictionary
name_nested_dictionary['Student1'] #slicing dictionary key Student1

{'Name': 'Vincet', 'Gender': 'Man', 'BOD': 1991}

## Change Value

In [26]:
name_nested_dictionary['Student1']['BOD'] = 1993 #change value 1991 to 1993 from key Student1, value BOD
name_nested_dictionary ['Student1'] #slicing dictionary key Student1

{'Name': 'Vincet', 'Gender': 'Man', 'BOD': 1993}

## Add Key and Value

In [27]:
name_nested_dictionary['Student8'] = {'Name' : 'Lucia', 'Gender' : 'Woman', 'BOD' : 1992} #add new a key and several values
name_nested_dictionary

{'Student1': {'Name': 'Vincet', 'Gender': 'Man', 'BOD': 1993},
 'Student2': {'Name': 'Adel', 'Gender': 'Man', 'BOD': 1992},
 'Student3': {'Name': 'Kiky', 'Gender': 'Woman', 'BOD': 1995},
 'Student4': {'Name': 'Pandot', 'Gender': 'Man', 'BOD': 1994},
 'Student5': {'Name': 'Depil', 'Gender': 'Man', 'BOD': 1996},
 'Student6': {'Name': 'Mini', 'Gender': 'Woman', 'BOD': 1994},
 'Student7': {'Name': 'Jambrong', 'Gender': 'Man', 'BOD': 1992},
 'Student8': {'Name': 'Lucia', 'Gender': 'Woman', 'BOD': 1992}}